{
    "root": false,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier/@typescript-eslint",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "prettier"
    ],
    "plugins": ["@typescript-eslint", "react-hooks", "react", "import", "prettier"],
    "rules": {
        "react/prop-types": "off",
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal", "index", "parent", "sibling"],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": false
                },
                "pathGroups": [
                    {
                        "pattern": "~components/*",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "~data/*",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "~interfaces/*",
                        "group": "internal",
                        "position": "after"
                    }
                ],
                "pathGroupsExcludedImportTypes": ["~components*", "~data*", "~interfaces*"]
            }
        ]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true,
                "project": "tsconfig.json"
            }
        }
    }
}
