{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "printWidth": 100,
    "trailingComma": "es5",
    "arrowParens": "always",
    "singleQuote": true,
    "jsxSingleQuote": true
}
